*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: rgb(224, 105, 20);
}
:root{
    background: url(./images/Home.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
   
}
.head{
    height: 10vh;
    width: 100vw;
    padding:0 ;
    align-items:center;
    
}
.box1,.box2{
    height: 10vh;
    width: 50vw;
    
    float: left;
}
.box1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.box2>h4{
    float: left;
  
}
.box2 a{
    text-decoration: none;
    color: rgb(224, 105, 20);
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 10
}

.Mainlogo{
    position: relative;
    margin: 0 auto;
    position: absolute;
    top: 10vh;
    left: 40vw;

}
.box2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

body{
    background: transparent;
    height: 100vh;
    width: 100vw;

}
main{
    align-items: center;
    justify-content: center;
     display: flex;
    height: 80vh;
    width: 100vw;
    position: relative;

}
main>h1{
    float: right;
    font-weight: bolder;
}
#Mainlogo{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 20vh;
    left: 40vw;
}
.box2 a:hover,.div2 a:hover{
    background: linear-gradient(120deg,chocolate,black);
    color: white;
    padding: 6px;
    border-radius: 4px;
    box-sizing: border-box;
}
.box2 a:active,.div2 a:active{
    border-bottom: 1px solid white;
}


/* MENU */
.container{
    width: 100vw;
    min-height: 100vh;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container>div{
   
    width: 200px;
    height: 150px; 
    float: left;
    border: 1px solid yellow;
    float: right;
}
.navigationMenu{
    height: 10vh;
    width: 100vw;
    
    display: flex;
    justify-content: space-between;
    background: linear-gradient();
}
.div1,.div2{
    display: flex;
    flex: 1;
    
}
.div2>a{
    list-style-type:none;
    text-decoration: none;
    color: rgb(224, 105, 20);
}
.navlink{
    list-style-type: none;
}
.div2{
    justify-content: space-between;
    align-items: center;
    font-weight: bold;

}
.div1{
    align-items: center;
    letter-spacing: -0.1em;
    
}
.menuMain{
    display: flex;
    flex-wrap: wrap;
    padding: 0 25px;
}
.pictures{
    width: 120px;
    height: 180px;
    border: 1px solid grey;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px white,0px 0px 5px chocolate;
}
img{
    width: 100%;
    height:70%;
}
.price{
    background: transparent;
    border: 1px solid chocolate;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 2px;
    margin-top: 4px;
    color: white;
    background: chocolate;
    box-shadow: 0px 0px 5px white,0px 0px 5px chocolate;
}
.price:hover{
    color:chocolate ;
    background: white;
    border-radius: 2px;
}
